@model UserEditViewModel

@{
    ViewData["Title"] = "UserEdit";
}
  

<div class="card border-top border-0 border-4 border-primary">
    <div class="card-body p-5">
        <div class="card-title d-flex align-items-center">
            <h3 class="mb-0 text-primary">Departman Güncelle</h3>
        </div>
        <hr>
        @using (Html.BeginForm("UserEdit", "Member", FormMethod.Post, new { @class = "row g-3", enctype = "multipart/form-data" }))
        { 
            <div class="col-12">
                <label for="UserName" class="form-label">Kullanıcı Adı</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "text-danger" })
            </div>
             
            <div class="col-12">
                <label for="Name" class="form-label">Adı</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
            </div>

            <div class="col-12">
                <label for="SurName" class="form-label">Soyadı</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.SurName, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.SurName, null, new { @class = "text-danger" })
            </div>
             
            <div class="col-12">
                <label for="Email" class="form-label">Email</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
            </div>
             
            <div class="col-12">
                <label class="form-label">Departman</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.Department_ID, (List<SelectListItem>)ViewBag.Department_Values_V, "---Departman Seçiniz---", new { @class = "form-control" })
                </div>
            </div>
             
            <div class="col-12  mt-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.IsActive, new { @checked = "true" })
                    <label class="form-check-label" for="gridCheck2">Aktif/Pasif</label>
                </div>
            </div>
             
            <hr class="col-12">
            <div class="ms-auto">
                <a href="/Department/Index" class="btn btn-white btn-sm">
                    <i class="bx bx-comment-minus"></i>Vazgeç
                </a>
                <button asp-controller="Member" asp-action="UserEdit" type="submit" class="btn btn-primary btn-sm"><i class="bx bx-save"></i>Kaydet</button>
            </div>
        }
    </div>
</div>

